body {
	background-color: #EEE;
	font-family: Helvetica, Arial, sans-serif;
}

#container{
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2 ,h3 {
	margin: 0;
}

#content{
	padding: 10px;
}

.header{
	background-image: url(img/banner1.jpg);
	height: 20%;
	width: 100%;
	float: top;
}

#nav {
	width: 160px;
	float: left;
	padding: 10px;
	text-align: left;
}

#nav ul {
	list-style-type: none;
	padding: 10px;
}

#nav .selected{
	font-weight: bold;
}

.usernameForm {
	float: left;
	text-align: left;
	padding: 0px;
	width: 100px;
}

.passForm {
	float: left;
	text-align: left;
	padding: 0px;
	width: 100px;
}

#main{
	width: 600px;
	float: right;
}

#footer{
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}