body {
	background-color: #EEE;
	font-family: Helvetica, Arial, sans-serif;
}

#container{
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2 ,h3 {
	margin: 0;
}

#content{
	padding: 10px;
}

.banner{
    background-image: url(img/banner2.jpg);
	height: 200px;
	width: 100%;
}

.header{
    
	
}

#nav {
	width: 160px;
	float: left;
	padding: 10px;
	text-align: left;
}

#nav ul {
	list-style-type: none;
	padding: 10px;
}

#nav .selected{
	font-weight: bold;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 20%;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.usernameForm {
	float: left;
	text-align: left;
	padding: 0px;
	width: 100px;
}

.passForm {
	float: left;
	text-align: left;
	padding: 0px;
	width: 100px;
}

#main{
	width: 600px;
	float: right;
}

#footer{
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}